dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local~
.HTF/
.ghc.environment.*
.zed
__pycache__
report.html
.DS_Store
a.out
bin
index
index-*
bc
*.bin
*.dylib
*.so
*.dll
build
.xmake
.vscode
*.class

_*

compile_commands.json

*.plmc

CMakeFiles